<h1>Lists index</h1>
<%= cl_image_tag("dzjf3eojigvzocqjjnan",
      width: 400, height: 300, crop: :fill) %>
<% @lists.each do |list| %>
  <h2> <%= link_to list.name, list_path(list) %></h2>
<% end %>
<%= link_to 'Add a New List', new_list_path %>
